@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "NanumGeumunbohwa";
    src: url("../public/fonts/NanumGeumunbohwa.ttf");

}

@layer base {
    html {
        -webkit-font-smoothing: antialiased;
        letter-spacing: 0.02em;
    }

    body {
        @apply font-NanumGeumunbohwa text-base;
    }

    .menu-item-text {
        @apply transition-all duration-300 ease-in-out hover:text-menu-hover hover:underline hover:decoration-wavy hover:decoration-menu-hover
    }
}
